body {
  /*background-image: url('./images/back2.png');*/
  background-color: black;
}
  
.box {
  display: inline-block;       
  /*border: 1px solid black;*/
  border-radius: 50%;
  width: 16px;
  height: 16px;
  margin-left: -1px;
  margin-bottom: -1px;
  }

.off {
  /*background-color: blue;*/
  
}

.on {
  background-color: #4CAF50;
}
  
.box:hover { 
  background: #00CCFF;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: auto;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  /*display: inline-block;*/
  font-size: 16px;
  margin: 15px 2px;
  width: 120;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: black;
  color: #4CAF50;
  border: 2px solid #e7e7e7;
  border-radius: 12px;
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #e7e7e7;
  color: black;
}


.button_flex{
  margin-top: 125px;
  display: flex;
  flex-direction: column;
  
  
}

.grid {
  /*margin: auto;*/
  margin-left: -100px;
  margin-right: 50px;
  margin-top: 60px;
  width: 150px;
  line-height: 0;
  /*border: 1px solid red;*/
  outline:1px solid #4CAF50;
  background-color: black;

  
  /*box-shadow: 0px 0px 20px white;*/
  
}
  
h1, h3, h4 {
  color: white;
  align-items: center;
  width: 80%;
  margin-top: 40px;
}

h2 {
  color: white;
  margin-left: 90px;
  /*margin: auto;*/
  margin-top: 40px;
  
}
